{% extends "modal/modal-base.html" %}

{% block modal_body %}
    <form id="{{ modal_id }}-form">
        {% for group in groups %}
            <div>
                <label for="{{ modal_id }}-choice-{{ group.id }}">{{ group.label }}</label>
                <select id="{{ modal_id }}-choice-{{ group.id }}" name="{{ group.parameter }}">
                    <option value="" selected disabled hidden>Choose here</option>
                    {% for choice in group.choices %}
                        <option value="{{ choice.id }}"{% if choice.selected %} selected{% endif %}>
                            {{ choice.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}
    </form>
{% endblock %}

{% block modal_footer %}
    <button type="submit" form="{{ modal_id }}-form">{{ button_text }}</button>
    <button data-dismiss="modal">Close</button>
{% endblock %}

{% block modal_script %}
    <script>
        function addSubmit(ev) {
            ev.preventDefault();
            $.ajax({
                method: "{{ http_method }}",
                url: "{{ action_url }}",
                dataType: "json",
                data: $(this).serialize(),
            }).done(onSuccess);
        }

        function onSuccess(data, status) {
            $('#{{ modal_id }}-body').replaceWith(data);
            $('#{{ modal_id }}-footer').replaceWith("<div class=\"modal-footer\" id=\"{{ modal_id }}-footer\"><button data-dismiss=\"modal\">Close</button></div>");
            {#$('#{{ modal_id }}-body').replaceWith(data.type);#}
            {#$('#{{ modal_id }}-body').replaceWith(status);#}
        }

        $('#{{ modal_id }}-form').on('submit', addSubmit);
    </script>
{% endblock %}